@{
    ViewData["Title"] = "Home Page";
}
<div class="row" style="margin-top: 10px">
    <div class="col-md-6">
        <form>
            <div class="form-group">
                <label for="txtDistance">Distance:</label>
                <input type="number" class="form-control" id="txtDistance" placeholder="Input the distance in MGLT" />
            </div>
            <button type="button" id="btnCalculate" class="btn btn-success">Calculate</button>
        </form>
    </div>
</div>

<div class="row" style="margin-top: 10px">
    <div class="col-md-6">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        Ship Name
                    </th>
                    <th>
                        Recharges
                    </th>
                </tr>
            </thead>
            <tbody class="itemslist">
                <tr><td colspan="2">No items data</td></tr>
            </tbody>
        </table>
    </div>
</div>